.contactform
{
	background-color: #101010;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	padding: 30px;
	border-bottom: 2px solid #5624ad;
}

.contactform h2
{
	color: #5624ad;
}

.contactform h3
{
	color: #5624ad;
	font-size: 1.3rem;
	margin-top: 20px;
	font-weight: 200;
}


.contactform input
{
	width: 60%;
	margin: 20px;
	border: none;
	background: none;
	border-bottom: 2px solid #5624ad;
	padding: 5px;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 1.2rem;


}

.contactform input:focus
{
	
	text-decoration: none;
	outline: none;
	
}



.contactform input[type=submit]
{
	background-color: #5624ad;
	width: 30%;
	padding: 8px;
	border-radius: 5px;
	color: white;
	font-size: 1.3rem;
}